{% extends "layout.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light"><div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/Reportes">Reporte de Errores</a>
</li>
<li class="nav-item">
</li><li class="nav-item">
<a class="nav-link active" aria-current="page" href="/TablaSimbolos">Tabla de Simbolos</a>
</li>
<li class="nav-item">
</li><li class="nav-item">
<a class="nav-link active" aria-current="page" href="/Arbol">Arbol de Analisis Sintactico</a>
</li></ul></div></nav><center>
<table border="1" class = "egt">
	<tr>
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Ambito</th>
		<th>Fila</th>
		<th>Columna</th>
	</tr>
<tr>
		<td>array</td>

		<td>  </td>

		<td>GLOBAL</td>

		<td>1</td>

		<td>1</td>
<tr>
		<td>aux</td>

		<td>VARIABLE</td>

		<td>GLOBAL</td>

		<td>19</td>

		<td>1</td>
<tr>
		<td>index</td>

		<td>VARIABLE</td>

		<td>GLOBAL</td>

		<td>54</td>

		<td>1</td>
<tr>
		<td>a</td>

		<td>VARIABLE</td>

		<td>GLOBAL</td>

		<td>99</td>

		<td>1</td>
<tr>
		<td>i</td>

		<td>VARIABLE</td>

		<td>FOR</td>

		<td>120</td>

		<td>1</td>
<tr>
		<td>output</td>

		<td>VARIABLE</td>

		<td>FOR</td>

		<td>122</td>

		<td>5</td>
<tr>
		<td>j</td>

		<td>VARIABLE</td>

		<td>FOR</td>

		<td>123</td>

		<td>5</td>
<tr>
		<td>k</td>

		<td>VARIABLE</td>

		<td>FOR</td>

		<td>127</td>

		<td>5</td>
</table>
{% endblock %}